<div class= "container">
    <div class="row">   
        <div class="col-4">
            
        </div>
        <div class="col-4">
            <div class="card shadow-lg">
            <%= image_tag @item.image_url, width: "auto" if @item.image_url.attached? %>
                <div class="card-body">
                    <h5 class="card-title"><%= @item.name %></h5>
                        <div class="text">
                            <p><%= @item.description %></p>
                            <p><i class="fas fa-dollar-sign"></i><%= @item.price %> €</p>
                            
                            <% if user_signed_in? %>
                            <%= form_for @join_table_item_cart do |f| %>
                                <%= f.hidden_field :item_id, value: @item.id %>
                                <%= f.hidden_field :cart_id, value: current_user.cart.id %>
                                <button type="submit" class="fas fa-cart-plus">Ajout panier</button>
                            <% end %>
                        <% end %>
                        </div>
                </div>
            </div>
        </div>
                
    </div>
</div>

